<% layout('./layouts/boilerplate')%>
<img class="homepage-image" src="images/RecipeHub.jpeg"> 

    <h1>Capstone Homepage</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fuga quam praesentium nemo ab nihil vel esse? Deserunt, error itaque earum incidunt at quas, nesciunt quae, autem ipsum nihil quia.

    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora autem necessitatibus atque ducimus earum, porro optio distinctio molestiae at beatae similique tenetur iusto minima eveniet cupiditate quaerat praesentium ipsam harum?

    </p>

    
